vendor/
node_modules/
tests/
.git/
.github/
.env
.php-cs-fixer.cache

public/build/
docs/
README.md
Dockerfile.dev
docker-compose.yml
phpstan.neon
phpunit.xml
.php-cs-fixer.dist.php
.phpactor.json

.vscode/
.idea/
.DS_Store
*.sw?
*.log
logs/
