# your domain here, ex: localhost, myapp.test, etc.
APP_DOMAIN=localhost
# app port, default is 80
APP_PORT=80
# development or production
APP_ENV=development
# generate a random key with base64, ex: php atria app_key
APP_KEY=CHANGE-ME

AUTH_DRIVER=standard
AUTH_SECRET=
AUTH_ACCESS_TTL=300
AUTH_REFRESH_TTL=86400
AUTH_REDIRECT_GUEST_TO=/login
AUTH_REDIRECT_AUTHENTICATED_TO=/
AUTH_ACCESS_COOKIE=access_token
AUTH_REFRESH_COOKIE=refresh_token
AUTH_COOKIE_SECURE=true
AUTH_COOKIE_SAME_SITE=Strict
AUTH_USERS_TABLE=users
AUTH_REFRESH_TOKENS_TABLE=refresh_tokens

# enable or disable worker mode, if true, the app will run in worker mode, if false, the app will run in normal mode
WORKER_MODE=true
# max requests per worker
MAX_REQUESTS=1000
# enable or disable early hints (need HTTP/2 and HTTP/3)
EARLY_HINTS=false

MERCURE_ENABLED=true
MERCURE_HUB_URL=/.well-known/mercure
MERCURE_PUBLISHER_JWT_KEY=CHANGE-ME-MERCURE-PUBLISH
MERCURE_SUBSCRIBER_JWT_KEY=CHANGE-ME-MERCURE-SUBSCRIBE
MERCURE_SUBSCRIBE_JWT_TTL=3600
MERCURE_AUTHORIZATION_COOKIE_DOMAIN=

DB_CONNECTION=pgsql
DB_HOST=db
DB_DATABASE=atria_php
DB_USERNAME=atria_php_user
DB_PASSWORD=atria_php_password
DB_PORT=5432
